// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

body {
  font-family: Helvetica, Arial, sans-serif;
}

#wrapper {
  @include container;
  margin-left: auto;
  margin-right: auto;
}

#scatter_frame {
  @include column(14);
}

#scatter_controls {
  @include column(5);
  
  ul, ol {
    list-style: none;
  }
  
  .disallowed { color: GrayText;}
}

#model_stats {
  @include column(5, true);
}

table#data {
  clear:both;
}

table {
  line-height: 2;
}

td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}