// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-bottom: .5em;
  background-color: #BCF;
}

#header {
  text-align: center;
  background-color: #FFF;
  margin-bottom: 1em;
  line-height: 1.5;
  border-bottom: 1px solid #999;
}

#wrapper {
  @include container;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #999;
  background-color: #FFF;
  //@include showgrid();
}

.single_col {
  @include column(18, true);
  @include prepend(3);
}

#scatter_frame {
  @include column(14);
  position: relative;
}

#save_form {
  position: absolute;
  right: 20px;
  bottom: 14px;
  font-size: 80%;
}

#scatter_controls {
  @include column(5);
  
  ul, ol {
    list-style: none;
  }
  
  li {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    clear:both;
    .l {
      display: inline;
      float: left;
      margin-right: 2px;
      width: 18px;
      text-align: right;
    }
    label {
      display: inline;
      float: left;
      margin-right: 0;
      width: (5 * $blueprint-grid-outer-width) - ($blueprint-grid-margin + 21px);
    }
  }
  
  select {
    max-width: 100%;
  }
  
  .disallowed { color: GrayText;}
}

h1 {
  font-size: 183%;
  margin-top: .3em;
  margin-bottom: .3em;
}

h3 {
  font-weight: bold;
  margin-top: 1em;
  color: #333;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}


#stats_data {
  @include column(5, true);
  
  th {
    width: (2*$blueprint-grid-outer-width) - $blueprint-grid-margin;
    text-align: right;
    font-style: italic;
  }
  
  
}

table#raw_data {
  @include column(24, true);
  overflow: scroll;
  td {
    font-size: 80%;
    line-height: 1.42;
  }
}

td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}