// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

body {
  font-family: Helvetica, Arial, sans-serif;
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #BCF;
}

#wrapper {
  @include container;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #999;
  background-color: #FFF;
  // @include showgrid("../img/grid.png");
}

#scatter_frame {
  @include column(14);
}

#scatter_controls {
  @include column(5);
  
  ul, ol {
    list-style: none;
  }
  
  select {
    max-width: 100%;
  }
  
  .disallowed { color: GrayText;}
}

h3 {
  font-weight: bold;
  margin-top: 1em;
  color: #333;
}

#stats_data {
  @include column(5, true);
}

table#raw_data {
  @include column(24, true);
  overflow: scroll;
  td {
    font-size: 80%;
  }
}

table {
  line-height: 1.5;
}

td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}