/* line 4, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 18, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table,
div, span, object, iframe, p,
pre, a, abbr, acronym, address,
code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset,
form, label, legend,
caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 21, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  quotes: "" "";
}
/* line 67, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 22, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  float: none !important;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 23, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../scss/screen.scss */
body {
  font-family: Corbel, Helvetica, sans-serif;
  padding-bottom: .5em;
  background-color: #BCF;
}

/* line 16, ../../scss/screen.scss */
#header {
  text-align: center;
  background-color: #FFF;
  margin-bottom: 1em;
  line-height: 1.5;
  border-bottom: 1px solid #999;
}

/* line 24, ../../scss/screen.scss */
#wrapper {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding-top: .5em;
  padding-bottom: .5em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #999;
  background-color: #FFF;
}

/* line 35, ../../scss/screen.scss */
.single_col {
  display: inline;
  float: left;
  margin-right: 0;
  width: 710px;
  padding-left: 120px;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .single_col {
  overflow-x: hidden;
}

/* line 40, ../../scss/screen.scss */
#scatter_frame {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
  position: relative;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #scatter_frame {
  overflow-x: hidden;
}

/* line 45, ../../scss/screen.scss */
#save_form {
  font-size: 80%;
  float: right;
  position: relative;
  bottom: 40px;
  right: 10px;
}

/* line 53, ../../scss/screen.scss */
#scatter_controls {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #scatter_controls {
  overflow-x: hidden;
}
/* line 56, ../../scss/screen.scss */
#scatter_controls ul, #scatter_controls ol {
  list-style: none;
}
/* line 60, ../../scss/screen.scss */
#scatter_controls li {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  clear: both;
}
/* line 64, ../../scss/screen.scss */
#scatter_controls li .l {
  display: inline;
  float: left;
  margin-right: 2px;
  width: 18px;
  text-align: right;
}
/* line 71, ../../scss/screen.scss */
#scatter_controls li label {
  display: inline;
  float: left;
  margin-right: 0;
  width: 169px;
}
/* line 79, ../../scss/screen.scss */
#scatter_controls select {
  max-width: 100%;
}
/* line 83, ../../scss/screen.scss */
#scatter_controls .disallowed {
  color: GrayText;
}

/* line 86, ../../scss/screen.scss */
h1 {
  font-size: 183%;
  margin-top: .3em;
  margin-bottom: .3em;
}

/* line 92, ../../scss/screen.scss */
h3 {
  font-weight: bold;
  color: #333;
}

/* line 97, ../../scss/screen.scss */
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 102, ../../scss/screen.scss */
#highlight_labels div {
  float: left;
  font-size: 80%;
  padding: .1em .25em;
  margin: 0.25em;
  border: 1px solid;
  border-radius: 4px;
  white-space: pre;
}

/* line 112, ../../scss/screen.scss */
#model_type {
  clear: both;
}

/* line 116, ../../scss/screen.scss */
#stats_data {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #stats_data {
  overflow-x: hidden;
}
/* line 119, ../../scss/screen.scss */
#stats_data th {
  width: 90px;
  text-align: right;
  font-style: italic;
}
/* line 125, ../../scss/screen.scss */
#stats_data table {
  margin-bottom: 1em;
}
/* line 129, ../../scss/screen.scss */
#stats_data .warning {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 150px;
  font-size: 80%;
  line-height: 1.2;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #stats_data .warning {
  overflow-x: hidden;
}

/* line 136, ../../scss/screen.scss */
table#raw_data {
  display: inline;
  float: left;
  margin-right: 0;
  width: 950px;
  overflow: scroll;
}
/* line 147, ../../../../../../opt/local/lib/ruby/gems/1.8/gems/compass-0.11.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html table#raw_data {
  overflow-x: hidden;
}
/* line 139, ../../scss/screen.scss */
table#raw_data td {
  font-size: 80%;
  line-height: 1.42;
}

/* line 145, ../../scss/screen.scss */
td {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
