{%- extends "base.html" %}
{% block content -%}
<div class="single_col">
  <h1>Welcome to scatterize!</h1>

  <p>Scatterize is an experiment created by Nate Vack, from the 
    <a href="http://brainimaging.waisman.wisc.edu/">Waisman
    Laboratory for Brain Imaging and Behavior</a> at the 
    <a href="http://www.wisc.edu">University of Wisconsin&mdash;Madison</a>.
  </p>
  <p>
    Crafted from old-growth <a href="http://www.python.org/">Python</a>, 
    scatterize has accents of 
    <a href="http://numpy.scipy.org/">Numpy</a>, 
    <a href="http://www.scipy.org/">Scipy</a>,
    and <a href="http://statsmodels.sourceforge.net/">scikits.statsmodels</a>.
    It is set in a framework of the finest 
    <a href="http://flask.pocoo.org/">Flask</a>, and finished with a mixture
    of <a href="http://jquery.com/">jQuery</a> and an 
    <a href="https://github.com/pmalves/protovis">obscure variety</a> of 
    <a href="http://vis.stanford.edu/protovis/">Protovis</a>. The code for
    scatterize is <a href="https://github.com/njvack/scatterize">available
    on github</a>.
  </p>
  
  <p>
    I hope you find this useful! If you do, or have any feedback, 
    <a href="mailto:njvack@wisc.edu">send me an email</a>.
  </p>
</div>
{%- endblock %}