<!DOCTYPE html>
{%- import "macros.html" as macros %}
<html>
<head>
  <title>Hi</title>
  {{ macros.css_link("reset.css", asset_tag=g.time) }}
  {{ macros.css_link("style.css", asset_tag=g.time) }}
  {{ macros.js_include("jquery-1.6.1.min.js", asset_tag=g.time) }}
  {{ macros.js_include("json2.js", asset_tag=g.time) }}
  {{ macros.js_include("protovis-d3.2.js", asset_tag=g.time) }}
  {{ macros.js_include("scatterize.js", asset_tag=g.time) }}
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>