<!DOCTYPE html>
{%- import "macros.html" as macros with context %}
<html>
<head>
  <title>Scatterize!</title>
  {{ macros.css_link("screen.css") }}
  {{ macros.js_include("jquery-1.6.1.min.js") }}
  {{ macros.js_include("jquery.ba-bbq.js") }}
  {{ macros.js_include("json2.js") }}
  {{ macros.js_include("d3.js") }}
  {{ macros.js_include("d3.geom.js") }}
  {{ macros.js_include("scatterize2.js") }}
  
</head>
<body>
  {%- include "_header.html" %}
  <div id="wrapper">
  {% block content %}{% endblock %}
  </div>
</body>
</html>