<!DOCTYPE html>
{%- import "macros.html" as macros with context %}
<html lang="en">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8">
  <title>Scatterize!</title>
  <script type="text/javascript" 
     src="http://ajax.googleapis.com/ajax/libs/chrome-frame/1/CFInstall.min.js"></script>
  {{ macros.css_link("screen.css") }}
  {{ macros.js_include("jquery-1.6.1.min.js") }}
  {{ macros.js_include("jquery.ba-bbq.js") }}
  {{ macros.js_include("d3.js") }}
  {{ macros.js_include("d3.geom.js") }}
  {{ macros.js_include("keymaster.js") }}
  {{ macros.js_include("scatterize2.js") }}
  
</head>
<body>
  {%- include "_header.html" %}
  <div id="wrapper">
  {% block content %}{% endblock %}
    <div id="help">
      <div id="help_content">
        <h2>Keyboard shortcuts</h2>
        <h2 class="closer"><a href="" class="close">Close</a></h2>
        <table>
          <tr>
            <th><code>j</code> / <code>k</code></th>
            <td>: Change Y axis variable</td>
          </tr>
          <tr>
            <th><code>u</code> / <code>i</code></th>
            <td>: Change X axis variable</td>
          </tr>
          <tr>
            <th><code>o</code> / <code>p</code></th>
            <td>: Change model</td>
          </tr>
          <tr>
            <th><code>c</code></th>
            <td>: Toggle data censoring</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <script type="text/javascript">
  CFInstall.check();
  S2.help_control('#help', '#show_help', key);
  </script>
</body>
</html>