{%- extends "base.html" %}
{% block content -%}
<div id="scatter_frame">
</div>

<div id="scatter_controls">
  <div id="y_data">Plot on y: <select id="y_col"> </select>
  </div>
  <div id="x_data">Plot on x: <select id="x_col"> </select>
  </div>
  <div id="nuisances">
    <h3>Nuisance variables</h3>
    <ul id="nuisance_active">
    </ul>
    <ul id="nuisance_inactive">
    </ul>
  </div>
  
</div>

<table id="data">
  {% for row in g.rows -%}
  <tr>
    {% for d in row -%}
    <td>{{d}}</td>
    {% endfor -%}
  </tr>
  {% endfor -%}
</table>

<script type="text/javascript">
(function($) {
  $(document).ready(function() {
    var columns = {{ g.column_names|tojson|safe }};

    S.ss = S.single_state(
      '{{url_for("regress_js", filehash=g.filehash)}}',
      columns,
      '#x_col',
      '#y_col',
      '#nuisance_active',
      '#nuisance_inactive'
    );
    $(window).trigger("hashchange");
  });
  
  $(window).bind("hashchange", function(e) {
    console.log("Hashchange!");
    S.ss.update_controls();
    var regress_url = S.ss.get_url();
    console.log("Let's get from "+regress_url);
    $.ajax({
      'url' : regress_url,
      'success' : function(d) {
        S.data = d;
        $("#scatter_frame").empty();
        var scatterplot = S.scatterplot("scatter_frame", 500, 500);
        scatterplot.draw_data(d.points);
      }
    });
  });
  
})(jQuery);
</script>
{%- endblock %}